<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="public/style.css" />
    <meta name="description" content="{{description}}"/>
    <script src="public/where.js" type="module"></script>
  </head>
  <body>
    {# Our location indicator component for origin and edge #}
    <location-indicator>This is the origin site from somewhere US</location-indicator>
  <main>
    <header><h1><a href="/" class="titlelink">The Jam Sandwich</a></h1></header>
    {# Page or post content will appear here #}
  
    {{ content | safe }}

    <div id="pics">
      <img src="https://cdn.glitch.com/cad20829-cd7f-405a-95e8-5e17b206a304%2Fillustration.svg?v=1618198438357" alt="11ty"/>
      <img src="https://cdn.glitch.global/b9ddfd2b-2f53-44df-899d-104fd1bbe1a5/jam-buddy.png?v=1736336757662" alt="jam pal"/>
      <div>
        This is an 11ty site built for a Glitch + Fastly jam... 
      </div>
    </div>
      <footer class="footer">
        <a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/jam-sandwich">
        <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140" alt="" /> 
        Remix on Glitch
        </a>
      </footer>
    
  </main>

  </body>
</html>
